@charset "utf-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logotext{
    margin-left: 10px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: default;
}


.text{
    margin-left: 100px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: default;
    line-height: 140px;
}


.logotext h2{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 8em;
    text-align: justify;
    color: rgba(255, 255, 255, 0.763);
    z-index: 1;
    mix-blend-mode: color white;
    text-decoration: none;
} 

.text a{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size:6em;
    text-align: justify;
    color: rgba(255, 255, 255, 0.763);
    z-index: 3;
    mix-blend-mode: lighten;
    text-decoration: none;
} 
